:root
    --change-transition-time 1s //无需更改


    --main-color-2 #99ccff
    --main-color-1 #0088ff

    --font-color-1 #303133
    --font-color-2 #606266
    --font-color-3 #909399
    --font-color-light #ffffff